<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Skill Swap"
        android:theme="@style/Theme.Skill_swap">

        <!-- Activities -->
        <activity android:name=".SessionsActivity" android:exported="false"/>
        <activity android:name=".ProfileActivity" android:exported="false"/>
        <activity android:name=".SignupActivity" android:exported="false"/>
        <activity android:name=".activity_login" android:exported="false"/>
        <activity android:name=".HomeActivity" android:exported="false"/>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Broadcast Receiver -->
        <receiver
            android:name=".MyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="SESSION_BOOKED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>